<!-- Modal -->
<div class="modal fade my-modal" id="modalCard_<%= index %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content col-sm-12">
                <div class="col-sm-6 moviePosterInModal">
               <img src="<%= film.poster_path %>">
                </div>
                <div class="col-sm-6 movieDetails">
                    <div class="movieName"><%= film.title %></div>
                    <br>
                    <%if (film.youtubeVideo) { %>
                      <div class="linkToTrailer">
                          <a href="<%= film.youtubeVideo %>" target="_blank">
                              <span class="glyphicon glyphicon-play"></span>&nbsp;Play trailer</a>
                      </div>
                    <% } %>
                    <br>
                    <div class="release">Fecha del Estreno: <%= film.release_date %>}</div>
                    <br>
                    <div class="overview"><%= film.overview %></div>
                    <br>
                    <div class="rating">Rating: <%= film.vote_average %>/10</div>
                    <br>
                    <form method="POST" action="/myfilms/add/<%= film.id %>">
                    <h5 class="text-center">Añade tu archivo a la Base de datos</h5>
                        <div class="form-group row">
                            <label for="url" class="col-2 col-form-label">Url</label>
                            <div class="col-10">
                                <input name="url" class="form-control" type="url" placeholder="Url" id="url" value="<%= film.local &&  film.local.url ? film.local.url : '' %>">
                            </div> 
                            <label for="url" class="col-2 col-form-label">File</label>
                            <div class="col-10">
                                    <input name="file" type="file" class="form-control-file" id="file" aria-describedby="fileHelp">
                                    <small id="fileHelp" class="form-text text-muted">Selecciona un archivo</small>
                            </div>                                                        
                        </div>
                        <input name="idapi" type="hidden"  id="idapi" value="<%= film.id %>" >
                     
                        <button class="col-sm-3 btn btn-primary" data-idApi="<%= film.id %>" type="submit" >Añadir</button>
                        <div class="col-sm-3 btn btn-danger" data-dismiss="modal">Cerrar</div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<!-- End Modal -->



<!-- Card -->
<div id="card_<%= index %>" class="col-xs-6 col-sm-4 col-lg-3">    
  <div class="thumbnail ">
      <img src="<%= film.poster_path %>">
      <div class="caption">
      <h3><%= film.title %></h2>
          <p class="flex-text text-muted">
          <%= film.overview && film.overview.length < 50 ? film.overview : film.overview.substr(0,50) %></p>
          <p class="flex-text text-muted">Rating: <%= film.vote_average %>/10</p>
          <p>
    <%if (film && film.local && (film.local.url || film.local.src)) { %>
          <button class="btn btn-primary" data-toggle="modal" data-target="#modalVideo_<%= index %>" data-idApi="<%= film.id %>" >Ver</button> 
    <% } %>
          <button class="btn btn-primary" data-toggle="modal" data-target="#modalCard_<%= index %>" data-idApi="<%= film.id %>" >Mas info</button>
          </p>
      </div>
      <!-- /.caption -->
      
  </div>
  <!-- /.thumbnail -->
</div>
<!-- End Card -->


  <%if (film && film.local && (film.local.url || film.local.src)) { %>
          <div class="modal fade bd-example-modal-lg" id="modalVideo_<%= index %>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                     <% include ./video %>
                    </div>
                </div>
            </div>
    <% } %>
